service mtk_secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element@1.2-service-mediatek
    override
    class hal
    user secure_element
    group secure_element
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled

on boot && property:ro.boot.product.hardware.sku=emerald
    enable mtk_secure_element_hal_service
    enable vendor.nfc_hal_service