on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data
    chown system system /dev/xiaomi-fp
    chmod 0644 /dev/xiaomi-fp

#touch
    chown system system /sys/class/touch/touch_dev/palm_sensor

on post-fs-data
    # Thermal
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    chown system system /sys/class/thermal/thermal_message/sconfig
    chown system system /sys/class/thermal/thermal_message/boost
    chown system system /sys/class/thermal/thermal_message/temp_state
    chown system system /sys/class/thermal/thermal_message/balance_mode
    chown system system /sys/devices/platform/charger/charger_temp
    chown system system /sys/class/power_supply/battery/constant_charge_current_max
    chown cameraserver cameraserver /sys/class/thermal/thermal_message/flash_state
    chmod 0664 /sys/class/power_supply/battery/constant_charge_current_max

    # Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    mkdir /data/vendor/camera/ 0777 system camera
    chmod 777 /mnt/vendor/nvcfg/sensor
    chmod +r /mnt/vendor/nvcfg/sensor/gyro_cali.json
    chmod +r /mnt/vendor/nvcfg/sensor/gyro_bias.json

    #SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

    # calibration
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wt.bin
    chmod 0777 /data/vendor/camera/rear_dc_cal_wd.bin
    chmod 0777 /data/vendor/camera/rear_dc_cal_wu.bin
    restorecon /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    restorecon /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
    mkdir /mnt/vendor/persist 0777 system cameraserver
    chmod 0777 /vendor/etc/camera/com.xiaomi.dcal.wd.golden
    chmod 0777 /vendor/etc/camera/com.xiaomi.dcal.wu.golden
    chmod 0777 /vendor/etc/camera/golden_ov13b10_i_ov2180_i.bin
    chmod 0777 /vendor/etc/camera/golden_ov13b10_i_ov2180_ii.bin
    chmod 0777 /vendor/etc/camera/golden_ov13b10_ii_ov2180_i.bin
    chmod 0777 /vendor/etc/camera/golden_ov13b10_ii_ov2180_ii.bin
    chmod 0777 /data/vendor/camera/golden_rear_dc_cal_wt.bin
    chmod 0777 /data/vendor/camera/golden_s5k3l6_ii_ov2180_ii.bin

on boot
    # NFC
    mkdir /data/vendor/nfc_socket 0770 nfc nfc
    mkdir /data/vendor 0777 nfc nfc
    mkdir /data/vendor/nfc 0777 nfc nfc
    mkdir /data/vendor/nfc/param 0777 nfc nfc
    chmod 0660 /dev/tms_nfc
    chown nfc system /dev/tms_nfc
    chown nfc nfc /sys/nfc/chip_name
    chmod 0777 /sys/nfc/chip_name
    chmod 0777 /dev/nq-nci
    chown nfc nfc /dev/nq-nci

    # ufscld function permission
    chown root system /sys/devices/platform/soc/11270000.ufshci/ufscld/auto_hibern8_enable
    chown root system /sys/devices/platform/soc/11270000.ufshci/ufscld/block_suspend
    chown root system /sys/devices/platform/soc/11270000.ufshci/ufscld/cld_opration_status
    chown root system /sys/devices/platform/soc/11270000.ufshci/ufscld/debug
    chown root system /sys/devices/platform/soc/11270000.ufshci/ufscld/frag_level
    chown root system /sys/devices/platform/soc/11270000.ufshci/ufscld/trigger
    chown root system /sys/devices/platform/soc/11270000.ufshci/ufscld/trigger_interval
    chmod 664 /sys/devices/platform/soc/11270000.ufshci/ufscld/trigger

#displayfeature
on boot
    chown system system /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/doze_brightness
    chmod 0777 /sys/devices/virtual/mi_display/disp_feature/disp-DSI-0/doze_brightness
    chmod 0777 /sys/class/mi_display/disp-DSI-0/brightness_clone
    chown system system /sys/class/mi_display/disp-DSI-0/brightness_clone
    chmod 0777 /dev/mi_display/disp_feature
    chown system system /dev/mi_display/disp_feature
    chmod 0777 /sys/class/mi_display/disp-DSI-0/disp_param
    chown system system /sys/class/mi_display/disp-DSI-0/disp_param

    service sarcalibration /vendor/bin/sns_sensors_test_and_cal -c 72,3,50000000,0
    class main
    user root
    disabled
    oneshot
    group root system
    seclabel u:r:sardiag:s0

# start mmstat
on property:sys.boot_completed=1
    mkdir /sys/kernel/tracing/instances/mmstat 711
    write /sys/kernel/tracing/instances/mmstat/tracing_on 0
    write /sys/kernel/tracing/instances/mmstat/buffer_size_kb 16
    write /sys/kernel/tracing/instances/mmstat/events/mmstat/enable 1
    write /sys/kernel/tracing/instances/mmstat/tracing_on 1

on init
    service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

	# camera flash led
	chown system system /sys/class/flashlight_core/flashlight/flashlight_torch
    chmod 0664 /sys/class/flashlight_core/flashlight/flashlight_torch
